@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GilroyBold";
  src: url("./assets/fonts/gilroy-extrabold.otf");
}

@font-face {
  font-family: "GilroyLight";
  src: url("./assets/fonts/gilroy-light.otf");
}

html {
  scroll-behavior: smooth;
}

::selection {
  @apply bg-violet-400 text-white;
}
